#rentType {
    display: none;
}

#living {
    display: none;
}


#commercial {
    display: none;
}

#buildingType {
    display: none;
}

#deposit {
    display: none;
}
#numberOfRooms {
    display: none;
}
#squareOfLiving {
    display: none;
}
#squareOfKitchen {
    display: none;
}
#floor {
    display: none;
}
#repairs {
    display: none;
}
#animal {
    display: none;
}
#furniture {
    display: none;
}
#furnitureInTheKitchen {
    display: none;
}
#windowInside {
    display: none;
}
#windowOutside {
    display: none;
}
#balcony {
    display: none;
}
#loggia {
    display: none;
}
#fridge {
    display: none;
}
#tv {
    display: none;
}

#phone {
    display: none;
}
#bath {
    display: none;
}
#shower {
    display: none;
}
#conditioner {
    display: none;
}
#internet {
     display: none;
}
#separateBathroom {
    display: none;
}
#combinedBathroom {
    display: none;
}
#lift {
    display: none;
}
#ramp {
    display: none;
}



