<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<section class="probootstrap-section probootstrap-section-lighter">

    <div >
        <label>add House</label>
        <form action="/addHouseInNewComplex" , method="post">
            <div>
                String nameOfComplex <input type="text" name="nameOfComplex" id="nameOfComplex">
                String nameOfHouse <input type="text" name="nameOfHouse" id="nameOfHouse">
                int floor <input type="number" name="floor" id="floor">
                int numberOfApartment <input type="number" name="numberOfApartment" id="numberOfApartment">
                int numberOfRoom <input type="number" name="numberOfRoom" id="numberOfRoom">
                double square <input type="number" name="square" id="square">
                int pricePerSquare <input type="number" name="pricePerSquare" id="pricePerSquare">
                int fullPrice <input type="number" name="fullPrice" id="fullPrice">
                Status status
                <select name="status" id="status">
                    <option value="" selected disabled hidden>Выберите статус</option>
                    <option th:each="status : ${T(com.new_buildings.entities.Status).values()}"
                            th:value="${status}"
                            th:text="${status.getValue()}">
                    </option>
                </select>
            </div>
            <input type="submit" value="Save"/>
            <input type="reset" value="Reset"/>
        </form>
        <div>
            Message = <span th:text="${addMessage}"></span>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>