<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Объявления</p>
    </blockquote>

    <!--Advertisement-->
    <div class="row">
        <div>
            <div class="card-deck">
                <div class="col-3" th:each="advertisement : ${advertisementPage}">
                    <div class="card text-center">
                        <div>
                            <img class="card-img-top" src="/resources/img/nophoto-available.png" alt="Card image cap"
                                 th:src="@{'/advertisement/' + ${advertisement.id} + '/advertisement-image'}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${advertisement.title}">Card title</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.district}">Card
                                    subtitle</h6>
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.price}">Card
                                    subtitle</h6>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a th:href="@{'/advertisement/' + ${advertisement.id}}"
                               class="btn btn-primary">Подробнее</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${advertisement.dateTime}">Last updated 3 mins ago
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-3" th:each="advertisement : ${listOfAdvertisementByStatusSell}">
                    <div class="card text-center">
                        <div>
                            <img class="card-img-top" src="" alt="Card image cap"
                                 th:src="@{'/advertisement/' + ${advertisement.id} + '/advertisement-image'}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${advertisement.title}">Card title</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.district}">Card
                                    subtitle</h6>
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.price}">Card
                                    subtitle</h6>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a th:href="@{'/advertisement/' + ${advertisement.id}}"
                               class="btn btn-primary">Подробнее</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${advertisement.dateTime}">Last updated 3 mins ago
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-3" th:each="advertisement : ${listOfAdvertisementByStatusRent}">
                    <div class="card text-center">
                        <div>
                            <img class="card-img-top" src="" alt="Card image cap"
                                 th:src="@{'/advertisement/' + ${advertisement.id} + '/advertisement-image'}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${advertisement.title}">Card title</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.district}">Card
                                    subtitle</h6>
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${advertisement.price}">Card
                                    subtitle</h6>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a th:href="@{'/advertisement/' + ${advertisement.id}}"
                               class="btn btn-primary">Подробнее</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${advertisement.dateTime}">Last updated 3 mins ago
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Pagination-->

    <div class="row" th:if="${advertisementPage.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <div>
            <a th:href="@{/main(size=${advertisementPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==advertisementPage.number + 1} ? active"></a>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>